@using SchoolWebsite.Models;
@model ICollection<Student>


<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Group</th>
        </tr>
    </thead>
    <tbody>

        @foreach (Student student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Surname</td>
                <td>@student.Groups.GroupName</td>
            </tr>
        }
    </tbody>
</table>

<div class="button-create d-flex justify-content-end">
    <a class="btn btn-success btn-lg text-light mt-3" href="@Url.Action("Create", "Student")">Add student</a>
</div>
